body{
	color:black;
	font-family: sans-serif;
	padding: 5px;
	background-color: white;
	font-family: sans-serif;

	margin-top: 10%;
}

div{
	padding: 5px;
	margin: 5px;
}

#conteneur_principal{
	display: flex;
	flex-direction:row;

	
}

.conteneur_touites{
	max-width: 40%;
	min-width: 40%;
	text-align: center;
	margin-right: 5%;

	padding-bottom: 2%;
}
.conteneur_touites_general{
	width: 50%;
	text-align: center;
	margin-right: 5%;
	margin-left: 25%;

	padding-bottom: 2%;

}
.menu, .touite, .conteneur_touites, .menuStats{
	background-color: rgb(230,230,230);

	border:solid;
	border-color: rgb(40, 40, 70);
	border-width: 2px;

	border-radius: 15px;
}

.menu{
	white-space: nowrap;
	overflow: hidden;
	max-width: 25%;
	min-width: 25%;
	display: flex;
	text-align: center;

	flex-direction: column;

	margin-right: 5%;


}

.menu a{
	-ms-flex-align: center;

	
	margin-top: 5px;
	margin-bottom: 5px;

	padding-top: 5%;
	padding-bottom: 5%;


	font-size: 20px;

	text-align: center;

	text-decoration: none;

	background-color: blue;
	border-radius:5%;
	color:#ffffff;
}


.menu a:hover, .bouton:hover, button:hover, .voirPlus:hover{
	background-color: rgb(50,50,255);

}

#header{
	border-width: 5%;

	margin-top: 1%;
	display: flex;
	flex-direction: row;

	width:100%;
	align-items: stretch;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}

#header div{
	background-color: blue;

	min-width: 100%;

	width: 100%;

	height:10%;

	padding-bottom: 1.25%;
	padding-top: 1.25%;

	margin-top: -1%;

	border:solid darkblue;
}

#header img{
	width:10%;
	height: 10%;

	background-color: rgb(144, 238, 85);
	margin-top: -1%;

	border:solid darkgreen;

}

#header h1{
	margin-left: 5%;
	font-size: 225%;
}

.touite:hover{
	background-color: rgb(200,200,200);
}

.touite{

	min-width:20%;

	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;

	margin-right: 25px;

	padding:15px;

	padding-top: 30px;
	padding-bottom: 30px;

	font-size: 100%;

	text-align: left;

	word-wrap: break-word;

}

.nomUtilisateurTouite{
	text-align: center;

	margin-top: 2px;
	margin-bottom: 1px;
	margin-left: 5px;
	margin-right: 5px;

	padding: 5px;

	text-decoration: none;
	color: black;

	
	background-color: darkgray;
	border-radius: 10%;
}

.voirPlus{
	text-align: center;

	margin-top: 2px;
	margin-bottom: 1px;
	margin-left: 5px;
	margin-right: 5px;

	padding: 5px;

	font-size: 70%;

	text-decoration: none;
	background-color: darkblue;
	border-radius:10%;
	color:#ffffff;
}


#noter{
	width: 25%;
}




.bouton, button{
	background-color: blue;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:sans-serif;
	font-size:90%;
	font-weight:bold;
	padding-bottom:1.2em;
	padding-top: 1.2em;
	min-width: 15%;
	margin: 0.5%;
	border: none;
}

#like{
	background-color: green;
}
#dislike{
	background-color: red;
}

#like:hover{
	background-color: rgb(20,255,20);
}

#dislike:hover{
	background-color: rgb(255,40,40);
}

#prefRemover{
	background-color: gray;
}

#prefRemover:hover{
	background-color: rgb(150, 150, 150);
}

.inputPass{
	border-radius:42px;
	border-color: black;
	border: solid;
	border-width: 1px;
	padding:8px 34px;
	width: 15%;
	margin: 0.5%;
}

img{
	max-height: 256px;
	max-width: 512px;
}

.labelUpload{
	font-size: 8px;
	background-color: lightgray;
	width: 45%;
	border-radius: 15px;
}

textarea{	
	border-radius: 15px;
	border-width: 1px;
	border-color: black;
	padding: 5px;
	border: solid;
}